@charset "UTF-8";
/* ***************초기화*************************** */
/* 여백초기화 */
body, div, ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, input, 
fieldset, legend, p, select, 
table, th, td, tr, textarea, 
button, form {
    margin: 0; padding: 0;
}

/* 리스트 초기화 */
ul, ol {list-style-type: none;}

/* 링크 초기화 */
a:link    {color: #000000; text-decoration: none;}	  /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #000000; text-decoration: none;} 	  /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #000000; text-decoration: none;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #000000; text-decoration: none;}   /* 클릭했을때 빨간색 중앙선*/ 


/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}


/* ******************레이아웃************************** */
#wrap {
	margin: 0px auto;
	width: 1000px;
}

#wrap > #header {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #bfbfbf;
}

#wrap > #nav {
	/* background-color: #00ff00; */
}

#wrap > #contents {
	background-color: #ff00ff;
}

#wrap > #footer {
	background-color: #ff0000;
}




/* ******************해더(로고  로그인,회원가입)************************** */
#header > h1 {
	float: left;
	color: #79B30B;
	font-size: 35px;
	font-weight: bold;
}

#header ul {
	margin: 15px 0px 0px 0px;
	float: right;
}

#header ul>li {
	margin: 0px 0px 0px 20px;
	float: left;
	font-size: 14px;
}


/* ******************네비(메인메뉴)************************** */





