<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="/javaStudy/workspace_fornt/mysite/assets/css/mysite.css">
<link rel="stylesheet"  href="/javaStudy/workspace_fornt/mysite/assets/css/board.css">


</head>
<body>

<div id="wrap">
	<div id="header" class="clearfix">
		<h1>Mysite</h1>
		<ul class="clearfix"> 
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
	<!-- //header -->

	<div id="nav">
		<ul class="clearfix">
			<li>입사지원서</li>
			<li>게시판</li>
			<li>갤러리</li>
			<li>방명록</li>
		</ul>
	</div>
	<!-- //nav -->


	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
		
			<ul>
				<li>일반게시판</li>
				<li>댓글게시판</li>
				<li>첨부게시판</li>
			</ul>
		</div>
		<!-- //aside -->
		
		<div id="main-content">
			<div id="main-content-header">
				<h3>일반게시판</h3>
			
				<!-- 
				<ol>
					<li>홈</li>
					<li>게시판</li>
					<li>일반게시판</li>
				</ol>
				-->
			
			</div>
			
			
			
			
			
		</div>	
		<!-- //main-content -->
	
	
	</div>
	<!-- //full-contents -->

	<div id="footer">
		Copyright ⓒ 2020 황일영, All right reserved
	</div>
	<!-- //footer -->
</div>

</body>
</html>